.react-terminal-wrapper {
    padding: 25px 15px 15px !important;
    height: 100% !important;
    font-size: 13px !important;
}

.react-terminal-wrapper::before {
    content: none !important;
}

.react-terminal {
    height: 100% !important;
}